<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2" align="center">
      <h1>Armstrong numbers</h1>

      <div class="form-group">
        <label for="armstrong-input">Number of digits in number</label>
        <input id="armstrong-input" class="form-control" name="number" type="number">
      </div>
      <input type="submit" value="Show numbers" class="btn btn-primary" id="result-btn">

      <div id="result">
        <div id="info"></div>

        <table class="d-none table table-bordered table-hover bg-white" id="armstrong-table">
          <thead class="thead-dark">
            <tr>
              <th>№</th>
              <th >Armstrong number</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

