/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

body {
  height: 98vh;
  display: flex;
  flex-direction: column;
}
main {
  flex-grow: 100;
  margin: 90px ;
}
footer {
  margin-top: 10px;
  flex-grow: 1;
  padding: 10px;
  text-align: center;
}

#result {
  margin-top: 30px;
}